---
import type { InferGetStaticPropsType } from 'astro';
import {marked} from 'marked';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import CodeWindow from '../../components/CodeWindow/CodeWindow.astro';
export async function getStaticPaths() {
  const configKinds = await getCollection("configKinds");
  return configKinds.map(configKind => {
    const { id: kindId, data: {name, body, description, snippet, logo} } = configKind;
    const htmlBody = marked(body);
    return {
      params: { configKind: kindId },
      props: { name, htmlBody, description, snippet, logo },
    };
  });
}
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { name, htmlBody, description, snippet, logo } = Astro.props;
---
<Layout title={"Config.Tips - " + name} slug="/">
		<div class="flex flex-col gap-4">
      <header class="flex md: flex-row gap-6">
        <img src={logo} alt={name} class="w-24 h-24 invert opacity-90" />
        <h1>{name}</h1>
        <p>{description}</p>
      </header>
      <div class="flex flex-col md:flex-row gap-4">
        <div><Fragment set:html={htmlBody} /></div>
        <div><CodeWindow snippet={snippet.code} lang={snippet.lang} filePath={snippet.filePath} /></div>
      </div>
    </div>
</Layout>