---
import type { InferGetStaticPropsType } from 'astro';
import {marked} from 'marked';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import CodeWindow from '../../components/CodeWindow/CodeWindow.astro';
export async function getStaticPaths() {
  const configKinds = await getCollection("configKinds");
  return configKinds.map(configKind => {
    const { id: kindId, data: {name, body, description, snippet, logo} } = configKind;
    const htmlBody = marked(body);
    return {
      params: { configKind: kindId },
      props: { name, htmlBody, description, snippet, logo },
    };
  });
}
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { name, htmlBody, description, snippet, logo } = Astro.props;
---
<Layout title={"Config.Tips - " + name} slug="/" description={description}>
		<div class="flex flex-col gap-4">
      <header class="flex flex-row gap-6">
        <div class="flex flex-grow flex-col items-center">
          <img src={logo} alt={name} class="w-24 h-24 invert opacity-90" />
          <h1 class="whitespace-nowrap">{name}</h1>
        </div>
        <Fragment set:html={htmlBody} />
      </header>
      <CodeWindow snippet={snippet.code} lang={snippet.lang} filePath={snippet.filePath} />
    </div>
</Layout>