---
import type { InferGetStaticPropsType } from 'astro';
import {marked} from 'marked';
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';
import CodeWindow from '../../../components/CodeWindow/CodeWindow.astro';
import Card from '../../../components/UI/Card.astro';
import Link from '../../../components/Link.astro';
import Icon from 'astro-icon';

export async function getStaticPaths() {
    const configKinds = await getCollection("configKinds");

    const paths = await Promise.all(configKinds.map(async (configKind) => {
        const allTips = await getCollection("tips");
        const tips = allTips.filter(tip => tip.data.kind.id === configKind.id);
        const { id: kindId, data: { name, body, description, snippet, logo, website } } = configKind;
        const htmlBody = marked(body);
        return {
            params: { configKind: kindId },
            props: { name, htmlBody, description, snippet, logo, tips, kindId, website },
        };
    }));

    return paths;
}

// Your type and props extraction remain unchanged.
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { name, htmlBody, description, snippet, logo, tips, kindId, website } = Astro.props;
const websiteBase = new URL(website).hostname

---
<Layout title={"Config.Tips - " + name} slug="/" description={description}>
		<div class="flex flex-col gap-4 w-full">
      <header class="flex flex-row gap-6">
        <div class="flex flex-grow flex-col items-center">
          <img src={logo} alt={name} class="w-24 h-24 invert opacity-90" />
          <h1 class="whitespace-nowrap">{name}</h1>
          <ul>
            <li>
              <Link href={website} className='text-xs flex flex-row items-center hover:text-indigo-300'>
                <Icon name="mdi:globe" class="w-3 h-3 mr-1" /> <span>{websiteBase}</span>
              </Link>
            </li>
          </ul>
        </div>
        <Fragment set:html={htmlBody} />
      </header>
      <CodeWindow snippet={snippet.code} lang={snippet.lang} filePath={snippet.filePath} />
      <h2 class="text-xl font-bold text-gray-500 p-0">Tips</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {tips.map(tip => (
          <Card href={`/c/${kindId}/${tip.slug}`} className="w-full shadow bg-zinc-800 border border-zinc-700 rounded p-2 hover:bg-indigo-300 text-gray-300 hover:text-gray-900 durarion-200">
            <h2 class="font-semibold ">{tip.data.title}</h2>
          </Card>
        ))}
      </div>
    </div>
</Layout>