---
import { getContributors } from "../../../../utils/githubAPI";
import Link from "../../Link.astro";

interface Props {
  gh_slug: string;
  max?: number;
  classNames?: {
    root?: string;
    list?: string;
    listItem?: string;
    link?: string;
    img?: string;
  };
}


const { gh_slug, max = 9999, classNames } = Astro.props;

const classNamesSetup = {
  root: classNames?.root ?? '',
  list: classNames?.list ?? '',
  listItem: classNames?.listItem ?? '',
  link: classNames?.link ?? '',
  img: classNames?.img ?? '',
};

const contributors = await getContributors(gh_slug)

---

<div class={classNamesSetup.root}>
  <ul class={classNamesSetup.list}>
    {
      contributors.map((contributor, index) => (
        index < max &&
        <li class={classNamesSetup.listItem}>
          <Link href={contributor.html_url} className={classNamesSetup.link}>
            <img src={contributor.avatar_url} alt={contributor.login} class={classNamesSetup.img} />
          </Link>
        </li>
      ))
    }
  </ul>
</div>
